* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #adbcb4;
  /* background: #5356ff; */
  color: #222;
}

.nav-bar {
  width: 90%;
  height: 200px;
  margin: 0 5%;
  background-color: #c7d4d3;
  /* background-color: #378ce7; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0 0 100px 100px;
}

.nav-1,
.nav-3 {
  margin: auto;
  width: 25%;
  text-align: center;
  font-size: 22px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-2 {
  width: 50%;
  min-width: 200px;
}

.nav-1 a {
  text-decoration: none;
  font-size: 40px;
  color: #000;
  transition: all 125ms ease-in;
}

.nav-1 a:hover {
  cursor: pointer;
  color: #7cdf64;
}

.nav-3 #checkbox {
  display: none;
}

.nav-3 form {
  width: 50%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.nav-3 form label {
  height: 100%;
  width: 100%;
  /* padding-top: 13px; */
  border-radius: 10px;
  background-color: #f1f1f1;
  border: solid 1px black;
  transition: all 75ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-3 form input {
  display: none;
}

.nav-3 form label:active {
  background-color: gray;
  border: 1px solid va;
}

@media screen and (max-width: 1200px) {
  .nav-3 form {
    font-size: 24px;
    height: 66%;
  }
}

@media screen and (max-width: 900px) {
  .nav-3 form {
    font-size: 18px;
    height: 50%;
  }
}

@media screen and (max-width: 650px) {
  .nav-2 .sb-container {
    display: none;
  }

  .nav-3 form {
    font-size: 12px;
    height: 25%;
  }

  .nav-1 a {
    font-size: 20px;
  }
}
