.searchbar-bar {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 10px;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
}

.searchbar-input {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 15px;
  height: 100%;
  font-size: 1.75rem;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .searchbar-bar {
    height: 2rem;
    width: 50%;
  }
  .searchbar-input {
    font-size: 0.75rem;
  }
}
